# Development directories
.idea/
node_modules/
src/
coverage/
.github/

# Config files
tsconfig.json
jest.config.js
jest.config.cjs
eslint.config.mjs
.eslintrc.cjs
.eslintignore
.prettierrc
.prettierignore
.husky/

# Lock files and artifacts
package-lock.json
*.tgz

# Git files
.gitignore

# NPM files
.npmignore

# Explicitly include these files
!dist/
!package.json
!README.md
!LICENSE